html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 200px;
}


pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
